language: node_js
node_js:
  - "10"

after_script:
  - gitbook install
  - cp -r node_modules basic/
  - cp -r node_modules advanced/
  - gitbook build basic/ _book
  - gitbook build advanced/ _book/advanced/
  - grunt minify
  - cd ./_book
  - git init
  - git config user.name "${USER_NAME}"
  - git config user.email "${USER_EMAIL}"
  - cp ../CNAME .
  - cp ../book.json .
  - git add .
  - git commit -m "publish gitbook"
  - git push --force --quiet "https://${ACC_TOKEN}@${GH_REF}" master:${BRANCH}

branches:
  only:
    - master
